.apartments {
    position: relative;
    overflow: hidden;

    .title-2 {
        margin-bottom: 88px;

        /* Medium media */
        @include mediaMD {
            margin-bottom: 44px;
        }
    }

    &::before {
        content: "III";
        position: absolute;
        top: 0px;
        right: calc(50% + 555px);
        transform: translateX(50%);
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 400px;
        line-height: 1;
        opacity: 0.02;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    /* Medium media */
    @include mediaMD {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}
