.benefits {
    position: relative;
    padding: 120px 0;
    overflow: hidden;

    &::after {
        content: "II";
        position: absolute;
        top: 0px;
        left: calc(50% + 555px);
        transform: translateX(-50%);
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 400px;
        line-height: 1.15;
        opacity: 0.02;
    }

    .container {
        max-width: 840px;
    }

    &__items {
        display: flex;
        column-gap: 70px;

        /* Medium media */
        @include mediaMD {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap: 30px;
        }
    }

    &__item {
        text-align: center;

        img {
            display: inline-block;
            margin-bottom: 53px;
            width: 80px;
            height: 80px;

            /* Medium media */
            @include mediaMD {
                width: 60px;
                height: 60px;
                margin-bottom: 20px;
            }
        }

        p {
            font-family: "Roboto";
            font-weight: 300;
            font-size: 20px;
            line-height: 1.35;

            /* Medium media */
            @include mediaMD {
                font-size: 16px;
            }
        }
    }

    /* Small media */
    @include mediaSM {
        padding: 80px 0;
    }
}
