.header {
    min-height: 840px;
    padding-top: 30px;
    padding-bottom: 74px;
    background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(./../img/header/header-bg.jpg);
    // background-position: 50%;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include mediaMD {
            row-gap: 50px;
        }
    }

    @include mediaMD {
        min-height: unset;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
}

.header-top--mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $color-dark;
    z-index: 99;

    .logo {
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        font-size: 20px;
    }

    .menu-burger {
        position: fixed;
        top: 50px;
        right: 15px;
        z-index: 999;
    }
}

.logo {
}

.header-nav {
    display: flex;
    column-gap: 40px;

    @include mediaMD {
        display: none;
    }
}

.menu-burger {
    display: none;

    @include mediaMD {
        display: block;
    }
}

.header-main {
    position: relative;
    padding-bottom: 121px;

    &__title {
        text-align: center;
    }

    &__scroll {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    /* Medium media */
    @include mediaMD {
        padding-bottom: 100px;
    }
}

.header-bottom {
    display: flex;
    align-items: center;
    column-gap: 98px;
    font-size: 18px;
    line-height: 1.2;

    & > * {
        position: relative;
        display: flex;

        column-gap: 14px;
        padding-left: 35px;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            width: 21px;
            height: 21px;
            transform: translateY(-50%);
            background-repeat: no-repeat;
        }

        /* Small media */
        @include mediaSM {
            padding-left: 30px;
        }
    }

    &__address {
        &::before {
            background-image: url("./../img/header/map-pin.svg");
        }
    }

    &__phone {
        &::before {
            background-image: url("./../img/header/phone.svg");
        }
    }

    /* Small media */
    @include mediaSM {
        flex-direction: column;
        row-gap: 30px;
        font-size: 16px;
    }
}
