.video {
    position: relative;
    text-align: center;
    overflow: hidden;

    &::after {
        content: "IV";
        position: absolute;
        top: 0px;
        left: calc(50% + 555px);
        transform: translateX(-50%);
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 400px;
        line-height: 1.5;
        opacity: 0.02;
    }

    &__link {
        position: relative;
        text-align: center;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: rgba(36, 43, 51, 0.8);
            transition: background 0.2s linear;
        }

        &:hover::before {
            background: rgba(36, 43, 51, 0.7);
        }

        &:hover .video__icon {
            transform: translate(-50%, -50%) scale(1.1);
            filter: saturate(1.5);
        }
    }

    &__img {
        display: inline-block;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.2s linear;

        /* Small media */
        @include mediaSM {
            width: 80px;
            height: 80px;
        }
    }
}
