section.apartments
    .container 
        h2.title-2 Наши квартиры
        .cards 
            +card("#!", "01.jpg", "Пентхаус “Loft Олимп”")
            +card("#!", "02.jpg", "Апартаменты “Nice Loft”")
            +card("#!", "03.jpg", "Апартаменты “Loft Studio”")
            +card("#!", "04.jpg", "Loft квартира “Престиж”")