section.benefits
    .container 
        .benefits__items 
            +benefits-item("bench.svg", "Рядом исторические парки и скверы")
            +benefits-item("building.svg", "Полностью обустроенный")
            +benefits-item("fountain.svg", "10 фонтанов на территории")
            +benefits-item("bycicle.svg", "6 км велодорожек")