section.feedback
    .container 
        h2.title-2 Есть вопросы?
        form.feedback__form.form
            p *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
            input(placeholder="Ваше имя").input
            input(data-tel-input placeholder="Ваш телефон").input
            a(href="#!").button Посмотреть район