header.header
    .container
        .header-top
            a.logo
                img(src="./img/logo.svg", alt="LoftHouse")
            ul.header-nav
                li 
                    a(href="#!") О комплексе
                li 
                    a(href="#!") Район
                li 
                    a(href="#!") Каталог квартир
                li 
                    a(href="#!") Ипотека
                li 
                    a(href="#!") Контакты
            .menu-burger
                button.menu-burger__btn
                    span
        .header-main 
            .header-main__title
                h1.title-1 Жилой комплекс<br>в историческом центре
            a(href="#benefits").header-main__scroll
                img(src="./img/header/mouse.svg", alt="")
        .header-bottom
            .header-bottom__address
                | Наб. реки Фонтанки 10-15
            .header-bottom__phone
                | 8 (812) 123-45-67
