section.video
    .container 
        a(href="https://www.youtube.com/watch?v=1A30qZF1vcQ&t=545s" data-youtubeLightbox).video__link
            img(src="./img/video/video-img.jpg", alt="").video__img
            img(src="./img/video/play.svg", alt="").video__icon