// < Normalize >=============================

/* Reset and base styles  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%; /* sticky footer */
    scroll-behavior: smooth;
}

body {
    height: 100%; /* sticky footer */
    display: flex; /* sticky footer */
    flex-direction: column; /* sticky footer */
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $color-white;
    background-color: $color-dark;

    &.lock {
        overflow-y: hidden;
    }
}

body > * {
    flex-shrink: 0; /* sticky footer */
}

input,
textarea,
button {
    font-family: inherit;
    padding: 0;
}

label {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $color-white;
    text-decoration: none;
    transition: color 0.2s linear;
    cursor: pointer;

    &:hover {
        color: $color-gold;
    }
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Utility */

.none {
    display: none !important;
}
