.card {
    position: relative;
    max-width: 540px;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, $color-dark 100%);
        z-index: 9;
    }

    &::after {
        position: absolute;
        content: "";
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        border: 3px double $color-gold;
        opacity: 0;
        z-index: 10;
        transition: opacity 0.2s linear;
    }

    &:hover {
        &::after {
            opacity: 1;
        }

        img {
            transform: scale(1.1);
        }
    }

    img {
        transition: transform 0.2s linear;
    }

    &__title {
        position: absolute;
        left: 50px;
        right: 20px;
        bottom: 44px;
        font-size: 24px;
        line-height: 1.2;
        z-index: 99;

        /* Medium media */
        @include mediaMD {
            left: 30px;
            bottom: 30px;
            font-size: 20px;
        }
    }
}
