.form {
    text-align: center;

    & > * {
        max-width: 255px;

        /* Medium media */
        @include mediaMD {
            max-width: unset;
        }
    }

    p {
        display: inline-block;
        font-size: 13px;
        line-height: 1.2;
        color: #e7e7e7;

        /* Medium media */
        @include mediaMD {
            grid-row: 2 / 3;
            max-width: 255px;
            margin-left: auto;
            margin-right: auto;
        }

        /* Small media */
        @include mediaSM {
            grid-row: 4 / 5;
        }
    }

    .input {
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: 14px;
        line-height: 50px;
        color: $color-white;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        transition: background-color 0.2s linear;

        &::placeholder {
            color: #bebebe;
        }

        &:focus {
            background-color: rgba(255, 255, 255, 0.25);
            outline: 1px solid $color-gold;
        }
    }

    .button {
        display: inline-block;
        width: 100%;
        height: 50px;
        text-align: center;
        font-weight: 700;
        line-height: 50px;
        color: $color-white;
        background-color: #d4c17f;
        border: none;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: saturate($color: $color-gold, $amount: 10%);
        }
    }
}
