.title-1 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3;
    color: $color-gold;

    /* Medium media */
    @include mediaMD {
        font-size: 32px;
    }
}

.title-2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    color: $color-gold;

    /* Medium media */
    @include mediaMD {
        font-size: 28px;
    }
}
